<header class="header">
  <img class="logo" src="./images/logo.png" alt="Este el logo Spotify">
  <nav>
      <ul class="menu">
          <li> <a class="link" href="https://www.spotify.com/uk/premium/"></a> Premium</li>
          <li> <a class="link" href="https://support.spotify.com/"></a> Ayuda</li>
          <li> <a class="link" href="https://www.spotify.com/us/download/android/"></a> Descarga</li>
          <li>|</li>
          <li> <a class="link" href=""></a> Registrarse</li>
          <li> <a class="link" href=""></a> Iniciar sesion </li>
      </ul>
      <img class= "burguer" src="./images/burguer.png" alt="Logo menu desplegable">
  </nav>

</header>