<main class="main">
  <section class="principal">
      <h1 class="title">Prueba Premium gratis 3 meses</h1>
      <h3>Escucha millones de canciones sin anuncios, a la carta y sin conexion.</h3>    
      <a class="link2" href="">VER PLANES</a>  
      <p class="conditions">Rigen términos y condciones. Los tres meses gratis no están disponibles para usuarios que hayan probado Premium</p>        
  </section>
  <section class="secundaria"> 
      <h2 class="title2">¿Por qué pasarte a Premium?</h2>
      <div class="secundaria2">
          <article class="article"> 
              <img class="logo2" src="./images/benefit-1.png" alt="">
              <div>
                  <h4>Descarga música.</h4>
                  <p>Llévala siempre contigo.</p>
              </div>
          </article>
          <article class="article"> 
              <img class="logo2" src="./images/benefit-2.png" alt="">
              <div>
                  <h4>Sin anuncios.</h4>
                  <p>Disfruta de música sin interrupciones.</p>
              </div>
              </article>
          <article class="article"> 
              <img class="logo2" src="./images/benefit-3.png" alt="">
              <div>
                  <h4>Escucha lo que quieras.</h4>
                  <p>Incluso en el móvil.</p>
              </div>
          </article>
          <article class="article"> 
              <img class="logo2" src="./images/benefit-4.png" alt="">
              <div>
                  <h4>Salta todas las canciones que quieras.</h4>
                  <p>Simplemente dale a siguiente.</p>
              </div>
          </article>
      </div>
  </section>
</main>