.footer {
  background-color: black;
  color: lightgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 20px;
  font-size: 8px;
}

.menu2 {
  display: flex;
  gap: 20px;
  padding: 10px;
}

.country {
  display: inline-block;
}

.flag {
  height: 15px;
}