git status// @import 'core/variables';
// @import 'core/reset';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';


:root {
    font-size: 62.5%;
}
.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 99;
}
.logo {
    height: 60px;
    padding: 10px;
}
.burguer {
    height: 50px;
    padding: 10px;
}
li {
    list-style: none;
}
.menu {
    display: none;
    gap: 20px;
    padding: 10px;
}
.link {
    text-decoration: none;
}
.link2 {
    text-decoration: none;
    color: white;
    background-color: #26B759;
    padding: 15px;
    width: 120px;
    border-radius: 60px;
}
.main {
    padding-top: 60px;
    width: 100vw;

}
.principal {
    background-color: #529DF2;
    height: 30vh;
    padding: 20px;
    color: white;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.title {
    font-size: 4rem;
}
.conditions {
    font-size: 1rem;
}
.secundaria {
    height: 55vh;
    padding: 20px;
    font-size: 1.6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.title2 {
    text-align: center;
    display: flex;
    align-items: center;
}
.secundaria2 {
    display: flex;
    flex-wrap: wrap;
}
.article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logo2 {
    height: 60px;
    padding: 10px;
}
.footer {
    background-color: black;
    color: lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 20px;
    font-size: 8px;
}
.menu2 {
    display: flex;
    gap: 20px;
    padding: 10px;
}
.country {
    display: inline-block;
}
.flag {
    height: 15px;
}

@media screen and (min-width: 768px) {
    .menu {
        display: flex;
    }
    .burguer {
        display: none;
    }
    .principal {
         background-image:url(../images/premium_dancer.png);
        background-size: 400px;
        background-position: bottom right;
         background-repeat: no-repeat;
    }
}