* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}
.logo {
    height: 60px;
    padding: 10px;
}
li {
    list-style: none;
}
.menu {
    display: flex;
    gap: 20px;
    padding: 10px;

}
.link {
    text-decoration: none;
}
.link2 {
    text-decoration: none;
    color: white;
    background-color: #26B759;
    padding: 15px;
    width: 120px;
    border-radius: 60px;
}
.principal {
    background-color: #529DF2;
    background-image:url(../images/premium_dancer.png);
    background-size: 300px;
    background-position: bottom right;
    background-repeat: no-repeat;
    height: 400px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.conditions {
    font-size: 10px;
}
.secundaria {
    height: 400px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.title2 {
    text-align: center;
    display: flex;
    align-items: center;
}
.secundaria2 {
    display: flex;
    flex-wrap: wrap;
}
.article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.logo2 {
    height: 60px;
    padding: 10px;
}
.footer {
    background-color: black;
    color: lightgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 20px;
    font-size: 8px;
}

.country {
    display: inline-block;
}
.flag {
    height: 15px;
}